<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>recipe</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div>
			<a href="/">home</a>
			</br>
			<a href="/login">login</a>
			</br>
			<a href="/register">register</a>
			</br>
			<a href="/search">search</a>
			</br>	
			<a href="/box">box</a>
		
		<div>Name and source (click!): <a href="<%= recipe.source.sourceRecipeUrl %>" target="_blank"><%= recipe.name %> </a></div>
		<div>Ingredients: <%= recipe.ingredientLines %></div>

		<!-- <div>
			var array = <%= recipe.ingredientLines %>;
			var each = function(array, callback) {
			    for (var i = 0; i < array.length; i++) {
			        callback(array[i]);
			    }
			    return array;
			}

			each(array, function(a) {
				console.log(a); 
			});   
		</div> -->

		<div>Time needed: <%= recipe.totalTime %> </div>
		<div class="row">
			<div class="col-xs-12">
				<form method="POST" action="/box">
					<input type="text" style="display: none;"
					       value="<%= recipe.id%>" name="yumID">
					<input type="text" style="display: none;"
					       value="<%= recipe.name%>" name="recipeName">       
					<button>add to box</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>	